@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

:root{
    /*\\\\\\\\\ color ///////////*/

    --bg-d-card: hsl(300, 43%, 22%);/* Very Dark Magenta */
    --bg-l-card: hsl(333, 80%, 67%);/* Soft Pink */

    /*//////// font-color \\\\\\\\\\\\*/

    --heading: hsl(303, 10%, 53%);/* Dark Grayish Magenta */
    --light-heading: hsl(300, 24%, 96%);/* Light Grayish Magenta */
    --para: hsl(0, 0%, 100%);/* White */

}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--bg-d-card);
    line-height: 2rem;
    
}
h3{
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--bg-d-card);
    margin-bottom: 10px;
    
}
p{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--heading);
    padding: 1.5rem 0;
    line-height: 1.4rem;
    word-spacing: 1px;
}
ul{
    width:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    width: 15px;
    height: 15px;
    background-image: url('../images/icon-star.svg');
    background-size: contain;
    margin: 10px 5px;
    
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.container{
    max-width: 20rem;
    padding: 4rem 0;
}
.star-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-heading);
    margin: 0.5rem 0;
    border-radius: 6px;

}
.review-collection{
    margin-top: 3rem;
}
.review-container{
    background-color: var(--bg-d-card);
    
    margin: 1rem 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.4rem; 
}
.review-container>p{
    color: var(--para);
    padding-bottom: 0;
    font-size: 16.5px;
    line-height: 20px;
}

.reviewer-info{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    
}
.reviewer-details>p{
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 18px;
    color: var(--para);
    
}
.reviewer-details>p:last-child{
    color: var(--bg-l-card);
    
}